.login {
	position: relative; 
	top: 0; 
	right: 0;
	text-align: right;
}

.menuoption {
	position: relative;
	left: 10%;
	top: 10%;
	height: 100%;
} 

.tableoption {
	width: 60%;
	height: 60%;
	border: 2px solid black;
	text-align: center;
}