<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        <h1 class = "menubartitle">My Auction</h1>
        <p class="username">Username: {{username}}</p>
        <p class="order">Order: {{order}}</p>
        <p class="location">Location: {{location}}</p>

        <div class="map">Map placeholder</div>

        {% block content %}
        <h3>Bids</h3>

        {% if is_self %}
        <form method="post" action="{{ url_for('any_auction',auction_id=aid) }}" class="request">
            I will deliver from <select name="location">
            {% for loc in locations %}
                <option value="{{loc}}">{{loc}}</option>
            {% endfor %}
            </select>
            for
            $<input name="price" type="number" />
            <button type="submit">Submit</button>
        </form>
        {% endif %}

        <table class="bids">
            <tr>
                <th>Username</th>
                <th>Price</th>
                <th>Timestamp</th>
                <th>Location</th>
            </tr>
            {% for bid in bids %}
                <tr>
                    <td>{{bid[0]}}</td>
                    <td>{{bid[1]}}</td>
                    <td>{{bid[2]}}</td>
                    <td>{{bid[3]}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </body>
</html>
