<html>
    <head>
        <title>FUBER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">
    </head>
    <body>
        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    FUBER
                </a>
                </span>

                <!-- <span class="about">
                <a href="#how-it-works">
                    How it works
                </a>
                </span> -->
            </div>
        </header>

        <section class="splash">
            <table class="tableoption">
                <tr>
                    <td><a href="{{ url_for('login',chose_id=0) }}">Deliver Food</a></td>
                    <td><a href="{{ url_for('login',chose_id=1) }}">Get Food For Me</a></td>
                </tr>
            </table>
        </section>

        <section class="description" id="how-it-works">
            <p class="title">How it works</p>
            <table>
                <tr>
                    <td><image src="{{ url_for('static',filename='bidding.png') }}"</td>
                    <td>
                        <p>Be Hungry</p>
                        <p>Request food</p>
                        <p>Select Bidder</p>
                        <p>Enjoy</p>
                    </td>
                </tr>
            </table>
        </section>

        <!--section class="nav">   
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="url">About</a></li>
                <li><a href="url">Contact Us</a></li>
            </ul>
        </section-->
        <img class="splash" src="{{ url_for('static', filename='bgimage.jpg') }}">
    </body>
</html>
