<html>
    <head>
        <title>FUBER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">
    </head>
    <body>

        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    FUBER
                </a>
                </span>
            </div>
        </header>

        <section class="splash">
            <table class="tableoption">
                <tr>
                    <td><a href="{{ url_for('login',chose_id=0) }}">Deliver Food</a></td>
                    <td><a href="{{ url_for('login',chose_id=1) }}">Get Food For Me</a></td>
                </tr>
            </table>
        </section>

        <section class="description" id="how-it-works">
            <p class="title">How it works</p>
            <image src="{{ url_for('static',filename='whatwedo.png') }}">
        </section>

        <!--section class="nav">   
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="url">About</a></li>
                <li><a href="url">Contact Us</a></li>
            </ul>
        </section-->
        <img class="splash" src="{{ url_for('static', filename='bgimage.jpg') }}">
    </body>
</html>
