<html>
    <head>
        <title>FUBER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">
    </head>
    <body>

        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    FUBER
                </a>
                </span>
            </div>
        </header>

        <section class="main">
            <div class="slogan">Never leave Gates again.</div>
            <table class="tableoption">
                <tr>
                    <td><a href="{{ url_for('login',chose_id=0) }}">Deliver food</a></td>
                    <td><a href="{{ url_for('login',chose_id=1) }}">Get me food</a></td>
                </tr>
            </table>
        </section>

        <section class="description" id="how-it-works">
            <p class="title">How it works</p>
            <image src="{{ url_for('static',filename='whatwedo.png') }}" class = "whatwedo">
        </section>

        <div class="splash-overlay"></div>
        <img class="splash" src="{{ url_for('static', filename='bgimage.jpg') }}">
    </body>
</html>
