<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    </head>
    <body>
        <header class = "title">
            <h1>
            <a href="{{ url_for('home') }}">
                FUBER
            </a>
            </h1>
        </header>
        <form method="post" action="{{ url_for('login') }}">
             <p><label>Username:</label> <input type="text" name="username" required></p>
             <p><label>Password:</label> <input type="text" name="password" required></p>
             <p><button type="submit">Send</button></p>
             <a href="{{ url_for('signup') }}">Sign up</a>
        </form>
		<div class = "nav">
		    <ul>
		    	<li><a href="url">Home</a></li>
		        <li><a href="url">About</a></li>
		        <li><a href="url">Contact Us</a></li>
		    </ul>
		</div>
    </body>
</html>