<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">
    </head>
    <body>
        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    FUBER
                </a>
                </span>
                <span>
                    <img src = "{{url_for('static', filename = image)}}">{{username}}
                </span>
            </div>
        </header>
        <section class = "menubar">
            <h1 class = "menubartitle">My Auction</h1>
            <table>
                <tr>
                    <td>
                        <p class="username">Username: {{username}}</p>
                        <p class="order">Order: {{order}}</p>
                        <p class="location">Location: {{location}}</p>
                        <div class="map">Map placeholder</div>
                        {% block content %}
                    </td>
                    <td>
                        <h3>Bids</h3>
                        <table class="bids">
                            <tr>
                                <th>Username</th>
                                <th>Price</th>
                                <th>Timestamp</th>
                                <th>Location</th>
                            </tr>
                            {% for bid in bids %}
                                <tr>
                                    <td>{{bid[0]}}<img src ="{{url_for('static', filename = 'image_map[bid[0]]')}}"></td>
                                    <td>{{bid[1]}}</td>
                                    <td>{{bid[2]}}</td>
                                    <td>{{bid[3]}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% endblock %}
                    </td>
                </tr>
            </table>
        </section>
        <div class = "nav">   
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="url">About</a></li>
                <li><a href="url">Contact Us</a></li>
            </ul>
        </div>
    </body>
</html>
