<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <script src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}"></script>
    </head>
    <body>

    {% block content %}

      <form method="post" action="{{ url_for('request_food') }}">
        <select class="restaurants" name="restaurant">
          <option value="NONE" selected>Select a restaurant</option>
          {% for rest in restaurants %}
            <option value="{{rest}}">{{rest}}</option>
          {% endfor %}
        </select>

        <select class="categories" name="category">
          <option value="NONE" selected>Select a category</option>
          {% for rest in restaurants %}
          {% for cat in rest_dict[rest] %}
            <option class="{{rest.replace(' ','-').replace('\'','-').replace('&','-')}}" value="{{cat}}">{{cat}}</option>
          {% endfor %}
          {% endfor %}
        </select>

        <select class="items" name="item">
          <option value="NONE" selected>Select an item</option>
          {% for rest in restaurants %}
          {% for cat in rest_dict[rest] %}
          {% for item in rest_dict[rest][cat] %}
            <option class="{{rest.replace(' ','-').replace('\'','-').replace('&','-')}} {{cat.replace(' ','-').replace('\'','-').replace('&','-')}}" value="{{item.name}},{{item.price}}">{{item.name}}: ${{item.price}}</option>
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </select>

        <br>
        Auction length: <select name="auction_length">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select>

        <br>
        Location to deliver to: <select name="location">
          {% for loc in locations %}
            <option value="{{loc}}">{{loc}}</option>
          {% endfor %}
        </select>

        <br>
        <button type="submit">Create auction</button>
      </form>

      <script>
        var restaurant_selector = $("select.restaurants");
        var category_selector = $("select.categories");
        var item_selector = $("select.items");

        var none = "NONE";

        var hide_stuff = function(elem) {
          elem.hide();
          elem.children("option").hide().prop("selected",false);;
          elem.children("option[value='"+none+"']").show().prop("selected",true);
        }
        var show_stuff = function(elem, classname) {
          elem.show();
          elem.children(classname).show();
          elem.children("option[value='"+none+"']").show().prop("selected",true);
        }
        var classname_from_val = function(val) {
          return val.replace(/[ -'&]/g, '-');
        }

        hide_stuff(category_selector);
        hide_stuff(item_selector);

        var selected_restaurant_classname;
        var selected_category_classname;

        restaurant_selector.change(function() {
          selected_restaurant_classname = classname_from_val($(this).val());
          console.log(selected_restaurant_classname);

          if (selected_restaurant_classname === none) {
            hide_stuff(category_selector);
            hide_stuff(item_selector);
          }
          else {
            hide_stuff(category_selector);
            show_stuff(category_selector, "option."+selected_restaurant_classname);
          }
        });

        category_selector.change(function() {
          selected_category_classname = classname_from_val($(this).val());
          console.log(selected_category_classname);

          if (selected_category_classname === none) {
            hide_stuff(item_selector);
          }
          else {
            hide_stuff(item_selector);
            show_stuff(item_selector, "option."+selected_restaurant_classname+"."+selected_category_classname);
            console.log(selected_restaurant_classname + " " + selected_category_classname);
          }
        });

      </script>

    {% endblock %}
    
    </body>
</html>