<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'icon.png') }}">
    </head>
    <body>
        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    FUBER
                </a>
                </span>
            </div>
        </header>

        <section class="login menubar">
            <div class="card">
                <h2>Enter your information</h2>
                <form method="post" action="{{ url_for('signup') }}" class = "login">
                    <p>Choose a username: <input type="text" name="username" required placeholder="Username"></p>
                    <p>Choose a password: <input type="password" name="password" required placeholder="Password"></p>
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </section>
        <img class="splash" src="{{ url_for('static', filename='bgimage.jpg') }}">
    </body>
</html>