a {
	text-decoration: none;
}

body {
	font-family: "Arial Rounded MT Bold";
	background-image: url("bgimage.jpg");
	background-image: no-repeat;
	margin: 0;
}

.title {
	margin-top: 2%;
	text-align: center;
	font-size: xx-large;
	background-color: rgba(0,0,0,0.4);
}

.title a, a:visited {
	text-decoration: none;
	color: white;
}

.menubar {
	opacity: 0.9;
	height: 320px;	
	font-size: 16px;
	color: white;
}

.menubar table {
	color: white;
	text-align: center; 
	height: 100%;	
}

.menubar table tr td{
	font-size: 20px;
	color: white;
	text-align: center; 
	height: 100%;	
}

.menubar td {
	width: 50%;	
}

.menubar td table {
	font-size: 16px;
	text-align: center;
	width: 100%;
}

.menubar td table tr {
	vertical-align: top;
}

.menubar table td h3 {
	padding-top: 25%;
}

.menubar p {
	text-align: center;
}

.menubartitle {
	font-size: 250%;
	color: #ffffff;
	text-align: center;
	margin-bottom: 25px;
}

.tableoption {
	width: 100%;
	height: 320px;
	text-align: center;
	font-size: 200%	;
}


.tableoption td {
	width: 50%;
	padding: 10%;
	text-align: center;
}

.tableoption a {
	color: #ffffff;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 32px;
	padding: 10px 20px 10px 20px;
	border: solid white 1px;
}

.tableoption a:hover {
	color: #ffffff;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 32px;
	padding: 10px 20px 10px 20px;
	opacity: 0.8;
}

.signinoption form {
	text-align: center;	
}

.signinoption input {
	font-size: 80%;
}

.login {
	width: 100%;
	text-align: center;
}

.login input {
	font-size: 150%;
}

.login button {
	color: #ffffff;
	background-color: transparent;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	border: solid white 2px;
	font-family: Arial Rounded MT Bold;
}

.login button:hover {
	opacity: 0.8;
}

.login button a{
	color: #ffffff;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}

.login button:hover a{
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	opacity: 0.8;	
}

.nav {
	bottom: 0;
	position: absolute;
	left: 35%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 150%;
}

.request {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	padding: 20px;
}

.request select {
	margin-bottom: 20px
}

select {
	font-size: 16px;
	color: #ffffff;
	border: solid white 1px;
    background-color: transparent;
}

option {
	color: black;
}

.request button {
	color: #ffffff;
	background-color: transparent;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-color: white;
	border-radius: 12px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}

.request button:hover {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	opacity: 0.8;	
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}