
body {
	font-family: Arial Rounded MT Bold;
}

.title {
	margin-top: 2%;
	text-align: center;
	font-size: xx-large;
	color: black;
}

.title a, a:visited {
	text-decoration: none;
	color: black;
}


.tableoption {
	width: 50%;
	height: 60%;
	text-align: center;
	float: right;
	font-size: 300%;
	background-color: lightblue;
}

.tableoption a {
	color: white;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

.tableoption a {
	color: white;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}

.loginoption {
	width: 100%;
	height: 60%;
	font-size: 200%;
	background-color: lightblue;
	text-align: center;
	display: inline-block;
}

.loginoption form {
	text-align: center;	
}

.loginoption input {
	font-size: 100%;
}

.btn {
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 12px;
	font-family: Arial;
	color: #ffffff;
	font-size: 32px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	border: solid #3498db 2px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	text-decoration: none;
}

.nav {
	bottom: 0;
	position: absolute;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 150%;
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
