<html>
    <head>
        <title>title</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header class = "title">
            <h1>
            <a href="index.html">
                FUBER
            </a>
            </h1>
        </header>
        <table class = "tableoption">
            <tr>
                <td><a href="{{ url_for('signin') }}">Get Food For Someone</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('signin') }}">Get Food For Me</a></td>
            </tr>
        </table>
		<div class = "nav">
		    <ul>
		    	<li><a href="url">Home</a></li>
		        <li><a href="url">About</a></li>
		        <li><a href="url">Contact Us</a></li>
		    </ul>
		</div>
    </body>
</html>
